<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="API requests" stopProcessing="true">
          <match url="^api/(.*)" />
          <action type="None" />
        </rule>
        <rule name="Non-API requests" stopProcessing="true">
          <match url=".*" ignoreCase="true" />
          <match serverVariable="RESPONSE_Cache_Control" pattern="public, max-age=31622400" />
          <action type="Rewrite" url="https://jibberwockroot.z33.web.core.windows.net/{R:0}"/>
        </rule>
      </rules>
    </rewrite>
    <httpProtocol>
      <customHeaders>
        <clear />
        <add name="X-Frame-Options" value="SAMEORIGIN" />
        <add name="Content-Security-Policy" value="script-src 'self' 'unsafe-inline' https://www.google-analytics.com https://www.googletagmanager.com https://ajax.cloudflare.com https://static.cloudflareinsights.com; style-src 'self' 'unsafe-inline' https://fonts.googleapis.com https://cdn.jsdelivr.net; font-src 'self' https://fonts.googleapis.com https://fonts.gstatic.com https://cdn.jsdelivr.net; img-src 'self' https://www.google.com https://www.google.co.uk https://www.google-analytics.com; upgrade-insecure-requests; block-all-mixed-content; report-uri https://jibberwock.report-uri.com/r/d/csp/enforce" />
        <add name="Referrer-Policy" value="strict-origin-when-cross-origin" />
        <add name="Permissions-Policy" value="navigation-override=(), accelerometer=(), autoplay=(), camera=(), geolocation=(), payment=(), usb=(), microphone=()" />
        <add name="Report-To" value="{&quot;group&quot;:&quot;default&quot;,&quot;max_age&quot;:31536000,&quot;endpoints&quot;:[{&quot;url&quot;:&quot;https://jibberwock.report-uri.com/a/d/g&quot;}],&quot;include_subdomains&quot;:true}" />
        <add name="NEL" value="{&quot;report_to&quot;:&quot;default&quot;,&quot;max_age&quot;:31536000,&quot;include_subdomains&quot;:true}" />
      </customHeaders>
    </httpProtocol>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="dotnet" arguments=".\Jibberwock.Core.API.dll" stdoutLogEnabled="false" stdoutLogFile="\\?\%home%\LogFiles\stdout" hostingModel="inprocess" />
  </system.webServer>

</configuration>