<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\Jibberwock.Admin.API.dll" stdoutLogEnabled="false" stdoutLogFile="\\?\%home%\LogFiles\stdout" hostingModel="inprocess" />
    </system.webServer>
  </location>
  <system.webServer>
    <proxy enabled="true" preserveHostHeader="false" reverseRewriteHostInResponseHeaders="false" />
    <rewrite>
      <rules>
        <rule name="API requests" stopProcessing="true">
          <match url="^api/(.*)" />
          <action type="None" />
        </rule>
        <rule name="WebHooks" stopProcessing="true">
          <match url="^webhook/(.*)" />
          <action type="None" />
        </rule>
        <rule name="Non-API requests" stopProcessing="true">
          <match url=".*" ignoreCase="true" />
          <action type="Rewrite" url="https://jibberwockadmin.z33.web.core.windows.net/{R:0}"/>
        </rule>
      </rules>
    </rewrite>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>
<!--ProjectGuid: bcf28ad3-8491-463b-815e-ce3c4155b915-->